---
// @ts-nocheck
import "../styles/global.css"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Zero Sugar - Design System</title>

		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-3BF4RRBRCN"
		></script>
		<script>
			//@ts-nocheck
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "G-3BF4RRBRCN")
		</script>
	</head>
	<body class="ds-layout">
		<Navigation />
		<main class="ds-main">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	.ds-layout {
		height: 100dvh;
		display: flex;
		flex-direction: column;
	}

	.ds-main {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px;
	}
</style>
